$default-font: "muller-g", sans-serif
$accent: #FF9900
$yellow: #feffd7
$fontcolor: #373737
$green: #84a35e
$gray: #494949
$buttonbg: linear-gradient( -140deg, rgb(236,112,58) 0%, rgb(246,133,29) 43%, rgb(255,153,0) 100%)
$buttonbghover: linear-gradient( 40deg, rgb(236,112,58) 0%, rgb(246,133,29) 43%, rgb(255,153,0) 100%)
$time: .25s ease

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1244px)

$gutter: $grid-gutter-width
