@import "vars"
@import "fonts"
@import "libs"

*
	box-sizing: border-box

::placeholder
	color: #000

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%
	margin: 0
	padding: 0

body
	font-size: 16px
	font-weight: 400
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $fontcolor
	background-color: #fefefe
	input, textarea
		border: #fff 1px solid
		outline: none
		&:focus:required:invalid
			// border-color: red
			outline: none
			&:required:valid
				// border-color: green

.container
	width: 1880px
	margin: 0 auto
	padding: 0 20px
	position: relative

.img-responsive
	display: block
	max-width: 100%
	height: auto



.preloader
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
	overflow: hidden
	background: #1d1d1d
	z-index: 1001

.preloader_image
	position: relative
	top: 50%
	left: 50%
	width: 70px
	height: 70px
	margin-top: -35px
	margin-left: -35px
	text-align: center
	animation: preloader-rotate 2s infinite linear

@keyframes preloader-rotate
	100%
		transform: rotate(360deg)

.loaded_hiding .preloader
	transition: 0.3s opacity
	opacity: 0

.loaded .preloader
	display: none



section
	padding: 80px 0 115px 0
	position: relative
	background: #ffffff

		

.button
	color: #fff
	height: 57px
	width: 100%
	font-weight: 700
	font-size: 14px
	text-align: center
	text-transform: uppercase
	outline: none
	position: relative
	z-index: 1
	display: flex
	align-items: center
	justify-content: center
	text-decoration: none
	background: $buttonbg
	padding: 3px
	border-radius: 20px 0px 25px
	transition: $time
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $buttonbghover
		border-radius: 20px 0px 25px
		transition: $time
		z-index: 2
		opacity: 0
	&:focus, &:hover
		text-decoration: none
		outline: none
		&:after
			opacity: 1
		span
			&::after
				background-color: transparent
	&:active
		background: $buttonbghover
	span
		z-index: 3
		position: relative



.top-section
	position: fixed
	padding: 0
	background: url('../img/top-bg.jpg') right no-repeat
	background-size: cover
	min-height: 100vh //new
	width: 100%
	display: flex
	.container
		display: flex
		justify-content: center
		flex-direction: column
	h1
		margin: 0 0 46px 0
		line-height: 1.3
		font-size: 40px
		font-weight: 950
		display: flex
		flex-direction: column
		.head-bg
			margin-bottom: 18px
			span
				background-color: #ffffff
				display: inline-block
				padding: 0 14px	
				span
					color: $accent
	.about-icons
		max-width: 772px
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-column-gap: 44px
		grid-row-gap: 29px
		margin-bottom: 76px
		.about
			display: flex
			align-items: center
			.text
				p
					margin: 0 0 0 18px
					font-size: 14px
					line-height: 1.3
	.block
		position: relative
		.text
			position: absolute
			right: -20px
			top: 50%
			transform: translateY(-50%)
			background-color: #fff
			padding: 25px 220px 25px 38px
			p
				margin: 0
				font-weight: 900
				font-size: 16px
				line-height: 1.3
				span
					color: #ff0000
	.button
		max-width: 290px
	.about-text
		font-size: 14px
		font-weight: 300
		margin: 72px 0 29px
	.about-description
		display: flex
		.description
			background-color: #fff
			border-radius: 10px
			padding: 13px 21px 17px 32px
			p
				margin: 0
				font-size: 13px
				font-weight: 500
				line-height: 1.3
			&:not(:last-child)
				margin-right: 38px
				



.form
	padding: 60px 60px 78px 60px
	background-color: rgba(#fff,.08)
	display: flex
	flex-direction: column
	position: relative
	margin: auto
	.input
		padding-left: 25px
		padding-right: 20px
		margin-bottom: 16px
		font-weight: 300
		font-size: 14px
		border: 1px solid #DADADA
		background: transparent
		color: #AEAEAE
		height: 52px
		&::placeholder
			color: #AEAEAE
			opacity: 1
		&:focus
			&::placeholder
				color: transparent
	.button
		width: 100%
		height: 52px
		margin-top: 14px
		margin-bottom: 25px
		border: none
		span
			font-size: 14px
			margin: 0
		&:hover
			cursor: pointer
	.success
		font-weight: 900
		font-size: 36px
		padding: 40px
		span
			color: $accent
			margin-bottom: 0
			line-height: 1
			text-transform: uppercase
			span
				color: #fff
				font-size: 15px
				font-weight: 400
				margin-top: 25px
	&::before
		content: ''
		box-sizing: border-box
		z-index: 10
		opacity: 0
		visibility: hidden
		transition-property: opacity, visibility
		transition-duration: .15s
		position: absolute
		top: 50%
		left: 50%
		margin-top: -25px
		margin-left: -25px
		display: block
		width: 50px
		height: 50px
		border-radius: 50%
		border-style: solid
		border-color: $accent rgba( 198, 198, 198, 0.5 ) rgba( 198, 198, 198, 0.5 )
		border-width: 4px
		animation: loading-spin .7s infinite linear
	&::after
		content: ''
		background-color: #1f1e1eee
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 9
		opacity: 0
		visibility: hidden
	&.loading
		&::before, &::after
			opacity: 1
			visibility: visible

.checkbox-personal
	color: $fontcolor
	font-weight: 300
	p
		font-size: 12px
		font-weight: 300
		line-height: 1.2
		color: #888
		margin: 0
		text-align: center
	a
		color: #777
		text-decoration: underline
		&:hover
			text-decoration: none
	.checkbox
		margin-right: 12px
		flex-shrink: 0



.popup-form
	max-width: 560px
	background-color: #fff
	span
		font-size: 48px
		font-weight: 900
		text-align: center
		display: block
		margin-bottom: 30px
		line-height: 1.4
		span
			font-size: 18px
			font-weight: 300
			margin: 0

.mfp-close-btn-in .mfp-close
	color: #000
	background-color: #fff
	width: 25px
	height: 25px
	line-height: 25px
	margin-top: 10px
	margin-right: 10px
	&:focus
		outline: none

.mfp-close
	outline: none !important

.politic
	max-width: 550px
	margin: 40px auto
	padding: 20px 30px
	position: relative
	background-color: #fff
	h4
		font-size: 24px
		margin-bottom: 20px
		line-height: 1.1
		font-weight: 900
		margin-top: 10px
		text-align: center
	p
		line-height: 1.3
		font-weight: 300

.success
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	text-align: center
	z-index: 2
	font-weight: 300
	background-color: #181818
	align-items: center
	justify-content: center
	font-size: 30px
	// display: flex
	display: none
	.close-popup
		position: absolute
		top: 0
		right: 15px
		font-size: 28px
		font-weight: 400
		color: #000000
		text-decoration: none
		transition: all .25s ease
		opacity: 0.7
		&:hover
			opacity: 1
	span
		color: $accent
		margin-bottom: 0
		line-height: 1
		span
			color: #fff
			font-size: 20px
			font-weight: 400
			margin-top: 25px
			&.suc-descr
				text-transform: none
				margin-top: 20px
				line-height: 1.3
				display: block
	&.visible
		display: flex

.d-none
	display: none

@-webkit-keyframes loading-spin
	from
	transform: rotateZ(0deg)

	to
	transform: rotateZ(360deg)

@keyframes loading-spin
	from
		transform: rotateZ(0deg)

	to
		transform: rotateZ(360deg)

.spinner
	position: relative

.top-section.thank-you-page
	h1
		text-align: center
		margin-bottom: 30px
		font-size: 55px
	h2
		text-align: center
		font-size: 36px
		font-weight: 400
		margin-bottom: 65px
	p
		font-size: 18px
		margin-bottom: 50px
		text-align: center
	.button
		max-width: 495px
		margin: 0 auto

@import "media" // Always at the end
